.layout-main-container {
  background-position: center;
  background-size: cover;

  ::ng-deep {
    .info-panel {
      p {
        color: var(--background-color-primary);
      }

      .p-carousel-indicators {
        padding: 1rem 0px;
        justify-content: start;
        .p-carousel-indicator {
          margin-right: 0.5rem;
          margin-top: auto !important;
          margin-bottom: auto !important;
          button {
            width: 50px;
            height: 3px;
            border-radius: 30px;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
          }
        }
        .p-carousel-indicator.p-highlight button {
          background: var(--primary-color);
          color: #fff;
          height: 6px;
        }
      }
    }
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  padding: 1rem 1.5rem;
  color: #f8f9fa;
  box-sizing: border-box;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: end;
}
.footer-link {
  color: #f8f9fa;
  text-decoration: none;
  font-size: 0.9rem;

  &:hover {
    color: #ced4da;
    text-decoration: underline;
  }
}

.footer-icon {
  color: #f8f9fa;
  font-size: 1.1rem;

  &:hover {
    color: #ced4da;
  }
}
