.card {
  p,
  a {
    font-size: 12px;
  }
  .bordersummary {
    background-color: var(--secondary-light-color);
    height: 38px;
    .borderunit {
      font-size: 7px;
      background-color: var(--surface-section);
      height: 30px;
      width: 67px;
      align-content: center;
      text-align: center;
    }
  }
  .text-size-8 {
    font-size: 8px;
  }
}
