::ng-deep .languageTranslate .p-inputtext {
  color: white;
}
::ng-deep .languageTranslate .p-dropdown .p-dropdown-trigger {
  color: white;
}
::ng-deep .languageTranslate .p-dropdown {
  background: transparent;
}
