<p-overlayPanel
  #overlayPanel
  [showCloseIcon]="false"
  styleClass="user-profile-overlay"
>
  <div class="profile-dropdown-content">
    <div class="profile-header">
      <img
        src="https://placehold.co/40x40/E0E0E0/757575?text=PS"
        alt="User Avatar"
        class="profile-avatar"
      />
      <div class="profile-info">
        <span class="profile-name">{{ userName }}</span>
        <span class="profile-email">{{ userEmail }}</span>
      </div>
    </div>

    <div class="profile-login-time">
      <hr class="profile-divider" />
      <div class="login-details">
        <span class="login-label">Login:</span>
        <span class="login-value">{{ lastLoginTime }}</span>
      </div>
      <hr class="profile-divider" />
    </div>

    <ul class="profile-menu">
      <li (click)="onSettingsClick()">
        <i class="fa-solid fa-cog menu-icon"></i>
        <span>Settings</span>
      </li>
      <li (click)="onPreferencesClick()">
        <i class="fa-solid fa-sliders menu-icon"></i>
        <span>My Preferences</span>
      </li>
      <li (click)="onEditProfileClick()">
        <i class="fa-solid fa-pencil menu-icon"></i>
        <span>Edit Profile</span>
      </li>
      <li (click)="changePassword()">
        <i class="fa-solid fa-lock menu-icon"></i>
        <span>Change Password</span>
      </li>
    </ul>

    <div class="profile-logout">
      <button (click)="logout()" class="logout-button">LOGOUT</button>
    </div>
  </div>
</p-overlayPanel>