.menu-container {
  height: calc(100vh - 2.5rem);
  width: 3.25rem;
  transition: all 0.25s;

  .short-menu {
    left: 2.75rem;
  }

  .fullscreen-menu {
    width: calc(100vw - 5.25rem);
    height: calc(100vh - 4rem);
    left: 4.25rem;
    transition: all 0.25s;
  }

  .menu-toggle {
    .menu {
      padding: 0 0.625rem;
      transition: all 0.25s;

      .icon {
        vertical-align: top;
        width: 1.25rem;
      }

      .text {
        width: calc(100% - 1.25rem);
      }
    }
  }

  .menus {
    .menu-wrapper {
      .menu {
        padding: 0.5625rem 0.625rem;
        width: 2.25rem;
        height: 2.25rem;
        transition: all 0.125s;

        .icon {
          width: 1.25rem;
        }

        .text {
          width: calc(100% - 1.25rem);
        }
      }

      .menu:hover {
        background-color: var(--background-color-dark-4);
        color: var(--text-color-dark-shade-1);
      }

      .active {
        background-color: var(--primary-color) !important;
        color: var(--inverted-text-color) !important;
      }
    }
  }
}

.menu-container-expand {
  width: 15rem;

  .short-menu {
    left: 14.5rem;
  }

  .fullscreen-menu {
    left: 16rem;
    width: calc(100vw - 17rem);
  }

  .menu-toggle {
    margin: 0;

    .menu {
      width: 100%;

      .text {
        display: inline-block !important;
      }
    }
  }

  .menus {
    .menu-wrapper {
      margin: 0;

      .menu {
        width: 100%;

        .text {
          display: inline-block !important;
        }
      }
    }
  }
}

.menu-container-static-overlay {
  @media screen and (max-width: 768px) {
    height: 100vh;
  }
}

.menu-container-static-overlay-hide {
  padding: 0 !important;
}
