// ::ng-deep .no-underline{
//   border: none !important;
//   border-bottom: none !important;
//   outline: none !important;

// }

::ng-deep .amountINR .p-inputtext {
  border: none !important;
  border-bottom: none !important;
  outline: none !important;

}