<div [ngClass]="viewOnly || hideLayout? 'w-full' : 'raise-ticket-page p-4'">
  <!-- <div class="breadcrumb form-section" *ngIf="!viewOnly && !hideLayout">
    <a href="/dashboard"><span class="text-color-secondary">Home ></span></a>
    <span class="text-primary font-semibold"> Raise a Request</span>
  </div> -->
    <div class="form-section" *ngIf="!hideLayout">
    <a href="/dashboard"><span class="text-color-secondary text-sm mb-2">Home > </span></a>
      <span class="text-900 font-medium">{{ requestId ? 'Request No. ' + requestId : 'Raise a Request' }}</span>
  </div>

  <div>
    <app-user-info-card *ngIf="!viewOnly && !hideLayout" [userInfo]="(userInfo$ | async)">
    </app-user-info-card>
  </div>

  <div>
    <app-travel-type [viewOnly]="viewOnly" 
       [currentRole]="currentRole"></app-travel-type>
  </div>
  <div>
    <app-travel-details [viewOnly]="viewOnly" 
       [currentRole]="currentRole"></app-travel-details>
  </div>
  <div>
    <app-travel-and-hospitility-expenses [viewOnly]="viewOnly" 
       [currentRole]="currentRole"></app-travel-and-hospitility-expenses>
  </div>
    <div>
    <app-advance-required [viewOnly]="viewOnly" 
       [currentRole]="currentRole" (onAdvanceRequiredChange)="handleAdvanceRequiredChange($event)"></app-advance-required>
  </div>
    <div *ngIf="isAdvanceRequired">
    <app-advance-given [viewOnly]="viewOnly" 
       [currentRole]="currentRole"></app-advance-given>
  </div>
  <div>
    <app-travel-visa [viewOnly]="viewOnly" 
       [currentRole]="currentRole"></app-travel-visa>
  </div>
    <div>
    <app-approver-details [viewOnly]="viewOnly" 
       [currentRole]="currentRole"></app-approver-details>
  </div>
  <div>
    <app-request-notes></app-request-notes>
  </div>
  <div class="action-footer-bar p-2 surface-0 shadow-2 form-section">
    <div class="flex justify-content-between align-items-center">
      <a
        (click)="onCancel()"
        class="p-button-text text-primary font-bold cursor-pointer p-3"
        >Cancel</a
      >
      <div class="flex gap-2">
        <!-- <gen-button
          [btnLabel]="'Save'"
          [btnType]="'border-btn'"
          class="reset-btn-color"
          (onClick)="onSave()"
        ></gen-button> -->
        <gen-button [btnLabel]="'Submit'" (onClick)="onSubmit()"></gen-button>
      </div>
    </div>
  </div>
</div>
