::ng-deep .no-underline input {
  border-bottom: none !important;
}

::ng-deep .grade-text-left .p-inputnumber input {   
    text-align: left;
}

::ng-deep .reimbursement-details-section .grid {
  justify-content: space-between;
}