.changePassword {
    background-size: cover;
    height: 104vh !important;
   // font-family: Verdana, Arial, sans-serif !important;


  .p-float-label {
    width: 100%;
    color: var(--primary-text-color);
    background: none;
    font-family: Verdana, Arial, sans-serif !important;
  }

  .p-float-label input:focus ~ label,
  .p-float-label input.p-filled ~ label,
  .p-float-label .p-inputwrapper-focus ~ label {
    background: none;
    color: var(--primary-text-color);
  }

  .p-inputtext {
    background: none;
    color: white;
  }
  .p-inputtext:enabled:focus {
    border-color: none;
    box-shadow: none;
  }

  .gap-3 {
    gap: 1rem;
  }


.rules {
  background-color: #e7f9fd;  
  border: 2px solid #3bcff0; 
  color: #012834;             
}

.passwordcontainer{
  width: 36%;
}

.ruleslist {
  line-height: 16px; 
}

}
