:host {
  display: block;
    ::ng-deep {
    form {
      > .grid {
        gap: 2rem;
      }
    }
  }
}

.raise-ticket-page {
  padding-bottom: 60px; 
}

.form-section {
  margin-bottom: 12px;
}


/* User Info Card */
.user-info-card {
  ::ng-deep .p-card-body {
    padding: 1rem;
  }
  
  .text-sm {
    font-size: 0.9rem;
    color: var(--text-color-secondary); 
  }

  .text-color {
    color: var(--text-color);
  }
}

/* Action Bar */
.action-footer-bar {
  background-color: var(--surface-0);
  margin-top: 2rem;
  margin-bottom: 4rem;

}

/* "Save" Button Text Color */
::ng-deep .reset-btn-color .p-button-label {
  color: var(--primary-color);
}

:host ::ng-deep {
  .status-badge {
    text-align: center !important;
    vertical-align: middle;
    border-radius: 999px;
    padding: 4px 12px;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    width: auto;
    margin: 0; 
    white-space: nowrap;
  }

  .status-approved {
    background-color: #dcfce7 !important;
    color: #166534 !important;            
  }

  .status-rejected {
    background-color: #fee2e2 !important; 
    color: #b91c1c !important;
  }

  .status-pending {
    background-color: #ffedd5 !important; 
    color: #9a3412 !important;
  }
}




