<div class="main-layout-topbar" [ngClass]="{ expanded: isSidemenuExpanded }">
  <div class="layout-topbar">
    <div class="flex">
      <a class="layout-topbar-logo py-0">
        <img
          class="cursor-pointer"
          src="assets/images/{{
            layoutService.config.colorScheme === 'light'
              ? 'logo-dark'
              : 'logo-white'
          }}.png"
          alt="logo"
        />
      </a>
      <div class="vertical-line mx-3"></div>
    </div>

    <div
      #topbarmenu
      class="layout-topbar-menu"
      [ngClass]="{
        'layout-topbar-menu-mobile-active':
          layoutService.state.profileSidebarVisible
      }"
    >
      <span class="flex align-items-center sm:px-2 p-0 text-sm date-wrapper">
        {{ currentServerTimeA }}</span
      >

      <div class="vertical-line mx-3"></div>

      <div
        class="bell-icon mr-3"
        [style]="{ position: 'relative' }"
        #notificationContainer
      >
        <p-avatar
          (click)="showNotification($event)"
          icon="{{
            swingIcon ? 'fa-solid' : 'fa-light'
          }} fa-bell swing-icon bell-font"
          styleClass="bell-icon {{ swingIcon ? 'swing-icon' : '' }} {{
            notificationValue > 0 ? '' : 'hideBadge'
          }}"
          shape="circle"
          pBadge
          value="{{ notificationValue }}"
        />
        <app-notification-bell
          [target]="notificationContainer"
        ></app-notification-bell>
      </div>

      <div
        class="bell-icon"
        [style]="{ position: 'relative' }"
        #notificationContainer
      >
        <p-avatar
          (click)="showNotification($event)"
          icon="{{
            swingIcon ? 'fa-solid' : 'fa-light'
          }} fa-cog swing-icon bell-font"
          styleClass="bell-icon {{ swingIcon ? 'swing-icon' : '' }} {{
            notificationValue > 0 ? '' : 'hideBadge'
          }}"
          shape="circle"
          pBadge
          value="{{ notificationValue }}"
        />
        <app-notification-bell
          [target]="notificationContainer"
        ></app-notification-bell>
      </div>

      <div class="vertical-line mx-3"></div>
      <div class="mr-3 border-round-sm">
        <button
          (click)="showOverlay($event)"
          class="p-link layout-topbar-button layout-topbar-button-profile"
        >
          <i class="fa-solid fa-circle-user text-4xl"> </i>
          <span>profile</span>
        </button>
      </div>

      <div class="flex justify-content-center align-items-center mr-3">
        {{ "Pradeep Sharma" | titlecase }}
      </div>

      <app-user-profile-overlay></app-user-profile-overlay>
      <app-language-switcher></app-language-switcher>
    </div>
  </div>
</div>
