<div class="main-layout-topbar" [ngClass]="{ expanded: isSidemenuExpanded }">
  <div class="layout-topbar">
    <div class="flex">
      <a class="layout-topbar-logo py-0">
        <img
          class="cursor-pointer"
          src="assets/images/{{
            layoutService.config.colorScheme === 'light'
              ? 'logo-dark'
              : 'logo-white'
          }}.png"
          alt="logo"
        />
        </a>
      <div class="vertical-line "></div>
    </div>

    <div
      #topbarmenu
      class="layout-topbar-menu"
      [ngClass]="{
        'layout-topbar-menu-mobile-active':
          layoutService.state.profileSidebarVisible
      }"
    >
      <app-language-switcher></app-language-switcher>

      <span class="flex align-items-center sm:px-2 p-0 text-sm date-wrapper mx-3">
        {{ formattedDate }}
      </span>

      <div class="vertical-line"></div>

      <div
        class="bell-icon mr-3 pt-2"
        [style]="{ position: 'relative' }"
        #notificationContainer
      >
        <p-avatar
          (click)="showNotification($event)"
          icon="{{
            swingIcon ? 'fa-solid' : 'fa-light'
          }} fa-bell swing-icon bell-font"
          styleClass="bell-icon {{ swingIcon ? 'swing-icon' : '' }} {{
            notificationValue > 0 ? '' : 'hideBadge'
          }}"
          shape="circle"
          pBadge
          value="{{ notificationValue }}"
        />
        <app-notification-bell
          [target]="notificationContainer"
        ></app-notification-bell>
      </div>

      <div class="bell-icon mr-3 pt-2" [style]="{ position: 'relative' }">
        <p-avatar
          icon="fa-light fa-cog bell-font"
          styleClass="bell-icon"
          shape="circle"
        />
      </div>

      <div class="vertical-line ml-0"></div>

      <div
        (click)="showOverlay($event, userProfileButton)"
        class="user-profile-button p-link"
        #userProfileButton
      >
        <img
          src="https://placehold.co/40x40/E0E0E0/757575?text=PS"
          alt="User Avatar"
          class="topbar-user-avatar"
        />
        <span class="topbar-user-name mx-2">{{
          "Pradeep Sharma" | titlecase
        }}</span>
        <i class="fa-solid fa-chevron-down topbar-user-arrow"></i>
      </div>

      <app-user-profile-overlay
        [lastLoginTime]="currentServerTimeA"
        (onLogout)="confirmLogout()"
      ></app-user-profile-overlay>
    </div>
  </div>
</div>