.terms {
  background-color: var(--background-color-transparent-dark);
  padding: 2rem;
  color: var(--background-color-primary);
  border-radius: 8px;
  .heading {
    margin-bottom: 0;
  }
  .description {
    padding-left: 20px;
  }
  .agree-btn {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
}
