:host {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #292929;
      padding: 1rem 1.5rem;
      color: #f8f9fa;
      box-sizing: border-box;
    }

    .footer-links {
      display: flex;
      align-items: center;
      gap: 2.5rem;
    }
    
    .footer-icons {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
    .footer-link {
      color: #f8f9fa;
      text-decoration: none;
      font-size: 0.9rem;
      
      &:hover {
        color: #ced4da;
        text-decoration: underline;
      }
    }

    .footer-icon {
      color: #f8f9fa;
      font-size: 1.1rem;

      &:hover {
        color: #ced4da;
      }
    }