<div class="main-layout-topbar">
  <div class="layout-topbar">
    <div class="flex">
      <a class="layout-topbar-logo py-0">
        <img
          class="cursor-pointer"
          src="assets/images/{{
            layoutService.config.colorScheme === 'light'
              ? 'logo-dark'
              : 'logo-white'
          }}.png"
          alt="logo"
        />
      </a>
      <div class="vertical-line"></div>
    </div>

    <div
      #topbarmenu
      class="layout-topbar-menu"
      [ngClass]="{
        'layout-topbar-menu-mobile-active':
          layoutService.state.profileSidebarVisible
      }"
    >
      <span class="p-input-icon-left">
  <i class="pi pi-globe"></i>
  <p-dropdown
    styleClass="pill-dropdown"
    class="languageTranslate"
    [options]="langData"
    [(ngModel)]="selectedLang"
    optionLabel="name"
    optionValue="code"
    (onChange)="switchLanguage($event)"
  />
</span>

      <span
        class="flex align-items-center sm:px-2 p-0 text-sm date-wrapper mx-3"
      >
        {{ formattedDate }}
      </span>
    </div>
  </div>
</div>
<ng-container *ngIf="pageType === 'login'">
  <form [formGroup]="loginForm" class="form loginForm">
    <div class="username mb-4">
      <p-floatLabel>
        <input
          id="username"
          type="text"
          pInputText
          formControlName="username"
          autocomplete
        />
        <label for="username">User name</label>
      </p-floatLabel>
      <div
        *ngIf="
          loginForm.get('username').touched && loginForm.get('username').invalid
        "
        class="text-red-500 text-sm"
      >
        Username is required.
      </div>
    </div>

    <div class="w-100 password mb-4">
      <p-floatLabel>
        <input
          id="password"
          [type]="hidePassword ? 'password' : 'text'"
          pInputText
          formControlName="password"
          autocomplete
        />
        <label for="password">Password</label>
        <i
          class="showPassword fa-solid cursor-pointer"
          [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'"
          (click)="togglePasswordVisibility()"
        ></i>
      </p-floatLabel>
      <div
        *ngIf="
          loginForm.get('password').touched && loginForm.get('password').invalid
        "
        class="text-red-500 text-sm"
      >
        Password is required.
      </div>
    </div>

    <div class="w-full text-xs my-5">
      <p-checkbox
        value="Remember me"
        inputId="remember"
        name="remember"
        formControlName="remember"
      />
      <label for="remember" class="ml-2 text-white">Remember me</label>

      <div class="inline-block float-right">
        <a class="text-sm hover:underline text-white pointer"
          >Forgotten your login details??</a
        >
      </div>
    </div>

    <div class="my-2 login-btn">
      <gen-button
        [btnWidth]="'full'"
        [btnLabel]="'Login'"
        (onClick)="basicAuthentication()"
      ></gen-button>
    </div>
    <div class="text-center test-sm text-white mt-4 font-weight-400">
      New user?
      <span
        ><a
          href=""
          class="font-weight-400 text-sm hover:underline text-color-secondary"
          >Sign Up</a
        ></span
      >
    </div>
    <div class="text-center">
      <p class="text-xs mt-4">
        By accessing OmniFin LOS Live! you confirm you are an authorised user
        and have agreed to the application
        <a
          href="javascript:void(0)"
          class="text-white underline"
          routerLink="/authentication/terms-condition"
          >Conditions of Use</a
        >. Unauthorised use may be referred to the appropriate authorities.
      </p>
    </div>
    <div
      class="text-center hover:underline text-white font-weight-700 text-sm mt-4"
    >
      <a href="">Skip For Now</a>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="pageType === 'attemptExceed'">
  <app-attempt-exceed></app-attempt-exceed>
</ng-container>
