form {
  background-color: #212121;
  padding: 2rem;
  border-radius: 8px;
width: 25rem ;
opacity: .9;
  input {
    width: 100%;
    background-color:#212121;
    color: #ffffff;
  }
  .password {
    position: relative;
    .showPassword {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  ::ng-deep {
    .p-divider-content {
      border-radius: 5px;
      p {
        color: var(--background-color-dark) !important;
      }
    }
  }

  p,
  i,
  label {
    color: #ffffff;
  }
  a{
    color: #ffffff;
  }
}
